<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.entity.TabMessage">
        <constructor>
            <idArg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="chat_log" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="chat_time" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="char_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="state_zt" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        user_id,chat_log,chat_time,char_id,state_zt
    </sql>
    <insert id="insechaunJianHuiHua" parameterType="cn.kanmars.entity.TabMessage" >
        insert into tab_message_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null ">
                user_id,
            </if>
            <if test="chatLog != null ">
                chat_log,
            </if>
            <if test="chatTime != null ">
                chat_time,
            </if>
            <if test="charId != null ">
                char_id,
            </if>
            <if test="stateZt != null ">
                state_zt,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null ">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="chatLog != null ">
                #{chatLog,jdbcType=VARCHAR},
            </if>
            <if test="chatTime != null ">
                #{chatTime,jdbcType=VARCHAR},
            </if>
            <if test="charId != null ">
                #{charId,jdbcType=VARCHAR},
            </if>
            <if test="stateZt != null ">
                #{stateZt,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="queryMessage" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select 
    	*
    	FROM
    	tab_message_info
    	where char_id =#{id}
    </select>
    <select id="querDateUser" resultMap="BaseResultMap">
   
         	SELECT userId  FROM tab_message_info 
   	
   </select> 
          
</mapper>

