<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.dao.TabChatMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.entity.TabSurface">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="fw_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="zt_state" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="chat_state" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
     id,user_id,fw_id,zt_state,chat_state
    </sql>
    <!--查询当钱有没有会话  -->
    <select id="chaunJianHuiHua">
    	 select
        <include refid="Base_Column_List" />
        from tab_surface
        where user_id=#{userId}
    </select>
    
    <insert id="addchaunJianHuiHua" parameterType="cn.kanmars.entity.TabSurface" >
        insert into tab_message_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="userId != null ">
                user_id,
            </if>
            <if test="fwId != null ">
                fw_id,
            </if>
            <if test="ztState != null ">
                zt_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null ">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="fwId != null ">
                #{fwId,jdbcType=VARCHAR},
            </if>
            <if test="ztState != null ">
                #{ztState,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
   
 <select id="querySeesionInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
 	  SELECT 
		<include refid="Base_Column_List"/>
    from tab_surface  where user_id = #{openid}
 </select>
 <insert id="addSession"  parameterType="java.util.HashMap">
 	INSERT INTO tab_surface (id,user_id,zt_state,chat_state) values (#{id},#{user_id},#{zt_state},#{chat_state})
 </insert>
 <update id="updSession" parameterType="java.lang.String">
 	update tab_surface set chat_state ="success" where user_id = #{openid}
 </update>
 <update id="updateChat" parameterType="java.util.HashMap">
 	update tab_surface set chat_state = '1' where user_id in #{user_id}
 </update>
 <select id="seleid" parameterType="java.lang.String" resultType="java.lang.String">
 		select id from tab_surface where user_id = #{openid}
   		
 </select>
</mapper>

