<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.dao.TblEarningsGatherMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.entity.TblEarningsGather">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="ernings_month" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="unversity_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="number" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="unversity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="area_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="area_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="createtime" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="create_user" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="earning_type" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="start_earning_time" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="location_time" javaType="java.lang.String" jdbcType="VARCHAR" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id,ernings_month,unversity_id,number,openid,unversity_name,area_name,area_id,createtime,create_user,earning_type,start_earning_time,location_time
    </sql>
    
    <select id="select" parameterType="cn.kanmars.entity.TblEarningsGather" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id = #{unversityId,jdbcType=VARCHAR}
        </if>
        <if test="number != null and number != '' ">
            and number = #{number,jdbcType=VARCHAR}
        </if>
        <if test="openid != null and openid != '' ">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name = #{unversityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id = #{areaId,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectList" parameterType="cn.kanmars.entity.TblEarningsGather" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id = #{unversityId,jdbcType=VARCHAR}
        </if>
        <if test="number != null and number != '' ">
            and number = #{number,jdbcType=VARCHAR}
        </if>
        <if test="openid != null and openid != '' ">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name = #{unversityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id = #{areaId,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectpage" parameterType="cn.kanmars.entity.TblEarningsGather" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id = #{unversityId,jdbcType=VARCHAR}
        </if>
        <if test="number != null and number != '' ">
            and number = #{number,jdbcType=VARCHAR}
        </if>
        <if test="openid != null and openid != '' ">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name = #{unversityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id = #{areaId,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
    </select>
    <insert id="insert" parameterType="cn.kanmars.entity.TblEarningsGather" >
        insert into tbl_earnings_gather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="erningsMonth != null ">
                ernings_month,
            </if>
            <if test="unversityId != null ">
                unversity_id,
            </if>
            <if test="number != null ">
                number,
            </if>
            <if test="openid != null ">
                openid,
            </if>
            <if test="unversityName != null ">
                unversity_name,
            </if>
            <if test="areaName != null ">
                area_name,
            </if>
            <if test="areaId != null ">
                area_id,
            </if>
            <if test="createtime != null ">
                createtime,
            </if>
            <if test="createUser != null ">
                create_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="erningsMonth != null ">
                #{erningsMonth,jdbcType=VARCHAR},
            </if>
            <if test="unversityId != null ">
                #{unversityId,jdbcType=VARCHAR},
            </if>
            <if test="number != null ">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="openid != null ">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="unversityName != null ">
                #{unversityName,jdbcType=VARCHAR},
            </if>
            <if test="areaName != null ">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null ">
                #{areaId,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null ">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null ">
                #{createUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kanmars.entity.TblEarningsGather" >
        update tbl_earnings_gather
        <set>
            <if test="erningsMonth != null">
                ernings_month = #{erningsMonth,jdbcType=VARCHAR} ,
            </if>
            <if test="unversityId != null">
                unversity_id = #{unversityId,jdbcType=VARCHAR} ,
            </if>
            <if test="number != null">
                number = #{number,jdbcType=VARCHAR} ,
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR} ,
            </if>
            <if test="unversityName != null">
                unversity_name = #{unversityName,jdbcType=VARCHAR} ,
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR} ,
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=VARCHAR} ,
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=VARCHAR} ,
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR} ,
            </if>
        </set>
        where 1=1
            and id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="cn.kanmars.entity.TblEarningsGather" >
        delete from tbl_earnings_gather
        where 1=1
            <if test="id != null and id != '' ">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="erningsMonth != null and erningsMonth != '' ">
                and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
            </if>
            <if test="unversityId != null and unversityId != '' ">
                and unversity_id = #{unversityId,jdbcType=VARCHAR}
            </if>
            <if test="number != null and number != '' ">
                and number = #{number,jdbcType=VARCHAR}
            </if>
            <if test="openid != null and openid != '' ">
                and openid = #{openid,jdbcType=VARCHAR}
            </if>
            <if test="unversityName != null and unversityName != '' ">
                and unversity_name = #{unversityName,jdbcType=VARCHAR}
            </if>
            <if test="areaName != null and areaName != '' ">
                and area_name = #{areaName,jdbcType=VARCHAR}
            </if>
            <if test="areaId != null and areaId != '' ">
                and area_id = #{areaId,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null and createtime != '' ">
                and createtime = #{createtime,jdbcType=VARCHAR}
            </if>
            <if test="createUser != null and createUser != '' ">
                and create_user = #{createUser,jdbcType=VARCHAR}
            </if>
    </delete>
    <select id="queryOneMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id = #{unversityId,jdbcType=VARCHAR}
        </if>
        <if test="number != null and number != '' ">
            and number = #{number,jdbcType=VARCHAR}
        </if>
        <if test="openid != null and openid != '' ">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name = #{unversityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id = #{areaId,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="queryListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id = #{unversityId,jdbcType=VARCHAR}
        </if>
        <if test="number != null and number != '' ">
            and number = #{number,jdbcType=VARCHAR}
        </if>
        <if test="openid != null and openid != '' ">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name = #{unversityName,jdbcType=VARCHAR}
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name = #{areaName,jdbcType=VARCHAR}
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id = #{areaId,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="updateCAS" parameterType="java.util.HashMap" >
        update tbl_earnings_gather
        <set>
            <if test="erningsMonth_new != null">
                ernings_month = #{erningsMonth_new,jdbcType=VARCHAR} ,
            </if>
            <if test="unversityId_new != null">
                unversity_id = #{unversityId_new,jdbcType=VARCHAR} ,
            </if>
            <if test="number_new != null">
                number = #{number_new,jdbcType=VARCHAR} ,
            </if>
            <if test="openid_new != null">
                openid = #{openid_new,jdbcType=VARCHAR} ,
            </if>
            <if test="unversityName_new != null">
                unversity_name = #{unversityName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="areaName_new != null">
                area_name = #{areaName_new,jdbcType=VARCHAR} ,
            </if>
            <if test="areaId_new != null">
                area_id = #{areaId_new,jdbcType=VARCHAR} ,
            </if>
            <if test="createtime_new != null">
                createtime = #{createtime_new,jdbcType=VARCHAR} ,
            </if>
            <if test="createUser_new != null">
                create_user = #{createUser_new,jdbcType=VARCHAR} ,
            </if>
        </set>
        where 1=1
            <if test="id != null ">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="erningsMonth != null ">
                and ernings_month = #{erningsMonth,jdbcType=VARCHAR}
            </if>
            <if test="unversityId != null ">
                and unversity_id = #{unversityId,jdbcType=VARCHAR}
            </if>
            <if test="number != null ">
                and number = #{number,jdbcType=VARCHAR}
            </if>
            <if test="openid != null ">
                and openid = #{openid,jdbcType=VARCHAR}
            </if>
            <if test="unversityName != null ">
                and unversity_name = #{unversityName,jdbcType=VARCHAR}
            </if>
            <if test="areaName != null ">
                and area_name = #{areaName,jdbcType=VARCHAR}
            </if>
            <if test="areaId != null ">
                and area_id = #{areaId,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null ">
                and createtime = #{createtime,jdbcType=VARCHAR}
            </if>
            <if test="createUser != null ">
                and create_user = #{createUser,jdbcType=VARCHAR}
            </if>
    </update>
    <select id="queryForPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        select count(1) as TOTALCOUNT from (
        </if>


        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        <if test="id != null and id != '' ">
            and id like CONCAT(#{id,jdbcType=VARCHAR},'%')
        </if>
        <if test="erningsMonth != null and erningsMonth != '' ">
            and ernings_month like CONCAT(#{erningsMonth,jdbcType=VARCHAR},'%')
        </if>
        <if test="unversityId != null and unversityId != '' ">
            and unversity_id like CONCAT(#{unversityId,jdbcType=VARCHAR},'%')
        </if>
        <if test="number != null and number != '' ">
            and number like CONCAT(#{number,jdbcType=VARCHAR},'%')
        </if>
        <if test="openid != null and openid != '' ">
            and openid like CONCAT(#{openid,jdbcType=VARCHAR},'%')
        </if>
        <if test="unversityName != null and unversityName != '' ">
            and unversity_name like CONCAT(#{unversityName,jdbcType=VARCHAR},'%')
        </if>
        <if test="areaName != null and areaName != '' ">
            and area_name like CONCAT(#{areaName,jdbcType=VARCHAR},'%')
        </if>
        <if test="areaId != null and areaId != '' ">
            and area_id like CONCAT(#{areaId,jdbcType=VARCHAR},'%')
        </if>
        <if test="createtime != null and createtime != '' ">
            and createtime like CONCAT(#{createtime,jdbcType=VARCHAR},'%')
        </if>
        <if test="createUser != null and createUser != '' ">
            and create_user like CONCAT(#{createUser,jdbcType=VARCHAR},'%')
        </if>


        <if test="countFlag != null and countFlag == 'N'.toString() ">
        limit #{limitStart,jdbcType=DECIMAL},#{limitSize,jdbcType=DECIMAL}
        </if>
        <if test="countFlag != null and countFlag == 'Y'.toString() ">
        ) as TMP_COUNT_TABLE
        </if>
    </select>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
        ORACLE的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                insert into test (a,b,c) values (#{item.a},#{item.b},#{item.c})
            </foreach>
        </insert>
        MYSQL的写法
        <insert id="insertBatch"  parameterType="java.util.List">
            insert into test (a,b,c) values 
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.a},#{item.b},#{item.c}
            </foreach>
        </insert>
        
        
    -->
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into tbl_earnings_gather (id,ernings_month,unversity_id,number,openid,unversity_name,area_name,area_id,createtime,create_user) values 
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
            #{item.id},#{item.erningsMonth},#{item.unversityId},#{item.number},#{item.openid},#{item.unversityName},#{item.areaName},#{item.areaId},#{item.createtime},#{item.createUser}
        </foreach>
    </insert>
    <!-- 如果是mysql数据库，需要在jdbcUrl中设置allowMultiQueries=true参数才可以使用 -->
    <!-- 返回值为第一条更新语句的执行结果，并非所有批量更新的语句总和 -->
    <!--
         ORACLE的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         MYSQL的写法
         <update id="updateBatch"  parameterType="java.util.List">
             <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                 update test
                 <set>
                     test=${item.test}+1
                 </set>
                 where id = ${item.id}
             </foreach>
         </update>
         
         
    -->
    <update id="updateBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tbl_earnings_gather
            <set>
                <if test="item.erningsMonth_new != null">
                    ernings_month = #{item.erningsMonth_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.unversityId_new != null">
                    unversity_id = #{item.unversityId_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.number_new != null">
                    number = #{item.number_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.openid_new != null">
                    openid = #{item.openid_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.unversityName_new != null">
                    unversity_name = #{item.unversityName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.areaName_new != null">
                    area_name = #{item.areaName_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.areaId_new != null">
                    area_id = #{item.areaId_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.createtime_new != null">
                    createtime = #{item.createtime_new,jdbcType=VARCHAR} ,
                </if>
                <if test="item.createUser_new != null">
                    create_user = #{item.createUser_new,jdbcType=VARCHAR} ,
                </if>
            </set>
            where 1=1
                <if test="item.id != null ">
                    and id = #{item.id,jdbcType=VARCHAR}
                </if>
                <if test="item.erningsMonth != null ">
                    and ernings_month = #{item.erningsMonth,jdbcType=VARCHAR}
                </if>
                <if test="item.unversityId != null ">
                    and unversity_id = #{item.unversityId,jdbcType=VARCHAR}
                </if>
                <if test="item.number != null ">
                    and number = #{item.number,jdbcType=VARCHAR}
                </if>
                <if test="item.openid != null ">
                    and openid = #{item.openid,jdbcType=VARCHAR}
                </if>
                <if test="item.unversityName != null ">
                    and unversity_name = #{item.unversityName,jdbcType=VARCHAR}
                </if>
                <if test="item.areaName != null ">
                    and area_name = #{item.areaName,jdbcType=VARCHAR}
                </if>
                <if test="item.areaId != null ">
                    and area_id = #{item.areaId,jdbcType=VARCHAR}
                </if>
                <if test="item.createtime != null ">
                    and createtime = #{item.createtime,jdbcType=VARCHAR}
                </if>
                <if test="item.createUser != null ">
                    and create_user = #{item.createUser,jdbcType=VARCHAR}
                </if>
        </foreach>
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_earnings_gather
        where 1=1
        and id = #{0}
    </select>
    <update id="editInfo" parameterType="java.util.HashMap">
    </update>
    
    <insert id="insetEarningsGather"  parameterType="java.util.List">
        insert into tbl_earnings_gather values 
        (#{id},#{erningsMonth},#{unversityId},#{number},#{openid},#{unversityName},#{areaName},#{areaId},#{createtime},#{createUser})
    </insert>
    
     <select id="queryEarningsGather" resultMap="BaseResultMap">
		select * from tbl_earnings_gather where id = #{id}
     </select>

   <update id="updEarningsGather">
		update tbl_earnings_gather set ernings_month = #{erningsMonth},unversity_id = #{unversityId},number = #{number},openid = #{openid},unversity_name = #{unversityName},area_name = #{areaName},area_id = #{areaId}
		where id=#{id}
   </update>
   
   <delete id="delEarningsGather">
    	delete from tbl_earnings_gather where id=#{ids}
    </delete>

</mapper>

