<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.dao.TblLoginMapper">
    <resultMap id="BaseResultMap" type="cn.kanmars.entity.TblLogin">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="admin_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="admin_password" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="admin_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="admin_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="xadmin_Password" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    
    <resultMap type="cn.kanmars.entity.TblRole" id="role">
       <id column="id" property="id"/>
       <result column="role_name" property="roleName"></result>
    </resultMap>
    
    <resultMap type="cn.kanmars.entity.TblLoginRole" id="user_role">
       <id column="id" property="id"/>
       <result column="loginid" property="loginid"></result>
       <result column="roleid" property="roleid"></result>
    </resultMap>
    
    <resultMap type="cn.kanmars.entity.TblPower" id="pow">
       <id column="id" property="id"/>
       <result column="text" property="text"></result>
       <result column="url" property="url"></result>
       <result column="pid" property="pid"></result>
       <result column="checked" property="checked"></result>
    </resultMap>
    
    <resultMap type="cn.kanmars.entity.TblRolePower" id="role_pow">
       <id column="id" property="id"/>
       <result column="roleid" property="roleid"></result>
       <result column="powerid" property="powerid"></result>
    </resultMap>
    
    <sql id="Base_Column_List">
        id,admin_name,admin_password,admin_state,admin_type,xadmin_Password
    </sql>
    <select id="getCar" parameterType="cn.kanmars.entity.TblLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_login
        where 1=1 limit 0,10
    </select>
    <select id="getCarAll" parameterType="cn.kanmars.entity.TblLogin" resultMap="BaseResultMap">
   		select 
   		<include refid="Base_Column_List" />
   		from tbl_login
   		where 1=1 	
   </select>
   <insert id="addrole">
    	insert into tbl_login_role(loginid,roleid) values
    	<foreach collection="roleid" item="roleid"  separator=",">
    		(#{loginid},#{roleid})
    	</foreach>
    </insert>
    
    <delete id="deleteuser_role" parameterType="Integer">
    	delete from tbl_login_role where loginid=#{loginid}
    </delete>
    
    <select id="getrole" resultMap="role">
   		select id,role_name from tbl_role
   		where 1=1 	
   </select>
   
   <select id="getUserRole" resultMap="user_role" parameterType="Integer">
   		SELECT ur.id,ur.loginid,ur.roleid FROM  tbl_login u 
   		LEFT JOIN  tbl_login_role ur ON u.id=ur.loginid 
   		WHERE ur.loginid=#{id}
   </select>
   
   <select id="queryRoleCount" resultType="long">
		select count(*) from tbl_role 
			
   </select>
   <select id="queryRolePage"  resultMap="role">
		select id,role_name from tbl_role
		where 1 = 1
		limit #{str},#{ro}
   </select>
   
   <delete id="removeRoleByIds">
		delete from tbl_role where id in (${rids})
   </delete>
   
   <select id="queryQuanById" resultMap="role">
		select id,role_name from tbl_role where id =#{rid2}
   </select>
   
   <delete id="deleteaddQuan" >
		delete from tbl_role_power where roleid=#{rid}
   </delete>
	
   <insert id="addQuan" parameterType="Integer">
		insert into tbl_role_power values(id,#{rid},#{flag})
   </insert>
   
   <select id="queryTreess" resultMap="pow">
		select * from tbl_power
   </select>
			
   <select id="queryQuan" resultMap="role_pow">
		select * from tbl_role_power where roleid = #{rid}
   </select>
   
   <select id="queryRoleById" parameterType="Integer" resultMap="role">
   		select * from tbl_role where id = #{id}
   </select>
   
   <update id="updateRole">
		update tbl_role set role_name = #{roleName} 
		where id=#{id}
   </update>
   
   <insert id="addRole">
		insert into tbl_role values(id,#{roleName})
   </insert>
   
   <delete id="delCars" >
		delete from tbl_login where id in (${ids})
   </delete>
   
   <insert id="adduser">
		insert into tbl_login (id,admin_name,admin_password,admin_state) values(id,'${adminName}','${adminPassword}',0)
   </insert>
   
   <select id="queryLogById" parameterType="Integer" resultMap="BaseResultMap">
   		select * from tbl_login where id = #{id}
   </select>
   
   <update id="updateLog">
		update tbl_login set admin_name = #{user.adminName},admin_password = #{user.adminPassword}
		where id=#{user.id}
   </update>
   
   <select id="logUser"  resultMap="BaseResultMap">
    			select 
    			<include refid="Base_Column_List"/>
    			from 
    			tbl_login
    			where admin_name = #{adminName}
    
    </select>
    <update id="updState">
    	update 
    	 tbl_login set
    	  admin_state= admin_state+1
    	   	where admin_name = #{adminName}
    </update>
    <update id="updatepwd" parameterType="cn.kanmars.entity.TblLogin">
    	update 
    	 tbl_login set
    	  admin_password = #{xadminPassword}
    	   	where admin_name = #{adminName}
    </update>
    <!--分配用户 -->
    <select id="logUseradd" parameterType="cn.kanmars.entity.TblLogin">
    		insert into tbl_login (admin_name,admin_password,admin_state) values(#{adminName},#{adminPassword},0)
    </select>
     <select id="queryTreeByUserId"  resultMap="pow">
		SELECT * FROM  tbl_power tp
        LEFT JOIN  tbl_role_power  trp ON tp.id = trp.powerid
        LEFT JOIN tbl_role  tr ON  tr.id = trp.roleid
        LEFT JOIN tbl_login_role tlr  ON tlr.roleid = tr.id
        WHERE tlr.loginid = #{id}
    </select>
</mapper>
