<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kanmars.dao.TblUniversityDetailsMapper" >
  <resultMap id="BaseResultMap" type="cn.kanmars.entity.TblUniversityDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="university_name" property="universityName" jdbcType="VARCHAR" />
    <result column="university_id" property="universityId" jdbcType="VARCHAR" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="university_grade" property="universityGrade" jdbcType="VARCHAR" />
    <result column="university_people" property="universityPeople" jdbcType="VARCHAR" />
    <result column="university_probability" property="universityProbability" jdbcType="VARCHAR" />
    <result column="university_advantage" property="universityAdvantage" jdbcType="VARCHAR" />
  	<result column="university_status" property="universityStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, university_name, university_id, headimg,university_grade,university_people,university_probability,university_advantage,university_status
  </sql>
   <select id="seleUniversityDetails" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	 from tbl_university_details
  	 where university_id = #{id}
  </select> 
   <!--   查大学详情表所有 -->
  <select id="seleUniversityDetailsaaa"  resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	 from tbl_university_details where university_status = '010'
  </select>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_university_details
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_university_details
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.kanmars.entity.TblUniversityDetails" >
    insert into tbl_university_details (id, university_name, university_id, 
      headimg)
    values (#{id,jdbcType=VARCHAR}, #{universityName,jdbcType=VARCHAR}, #{universityId,jdbcType=VARCHAR}, 
      #{headimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.kanmars.entity.TblUniversityDetails" >
    insert into tbl_university_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="universityName != null" >
        university_name,
      </if>
      <if test="universityId != null" >
        university_id,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="universityName != null" >
        #{universityName,jdbcType=VARCHAR},
      </if>
      <if test="universityId != null" >
        #{universityId,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kanmars.entity.TblUniversityDetails" >
    update tbl_university_details
    <set >
      <if test="universityName != null" >
        university_name = #{universityName,jdbcType=VARCHAR},
      </if>
      <if test="universityId != null" >
        university_id = #{universityId,jdbcType=VARCHAR},
      </if>
      <if test="headimg != null" >
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kanmars.entity.TblUniversityDetails" >
    update tbl_university_details
    set university_name = #{universityName,jdbcType=VARCHAR},
      university_id = #{universityId,jdbcType=VARCHAR},
      headimg = #{headimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
</mapper>