<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanmars.dao.TblServreServiceMapper">
    
    <resultMap type="cn.kanmars.entity.TblSeesionInfo" id="session">
       <id column="session_id" property="sessionId"/>
       <result column="open_id" property="openId"></result>
       <result column="server_id" property="serverId"></result>
       <result column="status" property="status"></result>
       <result column="session_status" property="sessionStatus"></result>
    </resultMap>
    
    <resultMap type="cn.kanmars.entity.TblMessageInfo" id="message">
       <id column="opend_id" property="opendId"/>
       <result column="message" property="message"></result>
       <result column="message_time" property="messageTime"></result>
       <result column="session_id" property="sessionId"></result>
       <result column="state_zt" property="stateZt"></result>
       <result column="server_id" property="serverId"></result>
    </resultMap>
    
    <select id="querySurface" resultMap="session">
   		select session_id,open_id,server_id,status,session_status from tbl_seesion_info
   		where session_status != 'close'
   </select>
   
    <select id="queryMassage" resultMap="message">
   		select opend_id,message,message_time,session_id,state_zt,server_id from tbl_message_info
   		where session_id = #{id}
   </select>
   
   <update id="updZtState">
		update tbl_seesion_info set status = '010' 
		where session_id=#{id}
   </update>
    
    <insert id="addMassage">
		insert into tbl_message_info values(#{opendId},#{message},#{messageTime},#{sessionId},#{stateZt},#{serverId})
   </insert>
   
    <delete id="removeMassage">
    	delete from tbl_message_info where session_id=#{id}
    </delete>
</mapper>
