<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kanmars.dao.TblUserCoffMapper" >
  <resultMap id="BaseResultMap" type="cn.kanmars.entity.TblUserCoffeemachine" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="univer_id" property="univerId" jdbcType="VARCHAR" />
    <result column="univer_name" property="univerName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="Investment_time" property="investmentTime" jdbcType="VARCHAR" />
    <result column="Accumulative_profit" property="accumulativeProfit" jdbcType="VARCHAR" />
    <result column="tm_profit" property="tmProfit" jdbcType="VARCHAR" />
    <result column="pa_tm" property="patm" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, univer_id, univer_name, state, Investment_time,Accumulative_profit, 
    tm_profit,pa_tm, openid
  </sql>
  <!-- 查询我的咖啡机明细-->
 <select id="seleUserCoff" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	 <include refid="Base_Column_List" />
  	  from tbl_user_coffeemachine
  	  where openid = #{openid,jdbcType=VARCHAR}
  </select> 
 <!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user_coffeemachine
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_user_coffeemachine
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crm.entity.zjj.tbl_user_coffeemachine" >
    insert into tbl_user_coffeemachine (id, univer_id, univer_name, 
      state, Investment_time,profit_time, 
      Accumulative_profit, tm_profit, openid
      )
    values (#{id,jdbcType=VARCHAR}, #{univerId,jdbcType=VARCHAR}, #{univerName,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{investmentTime,jdbcType=VARCHAR}, #{


profitTime,jdbcType=VARCHAR}, 
      #{accumulativeProfit,jdbcType=VARCHAR}, #{tmProfit,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.entity.zjj.tbl_user_coffeemachine" >
    insert into tbl_user_coffeemachine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="univerId != null" >
        univer_id,
      </if>
      <if test="univerName != null" >
        univer_name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="investmentTime != null" >
        Investment_time,
      </if>
      <if test="


profitTime != null" >
        


profit_time,
      </if>
      <if test="accumulativeProfit != null" >
        Accumulative_profit,
      </if>
      <if test="tmProfit != null" >
        tm_profit,
      </if>
      <if test="openid != null" >
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="univerId != null" >
        #{univerId,jdbcType=VARCHAR},
      </if>
      <if test="univerName != null" >
        #{univerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="investmentTime != null" >
        #{investmentTime,jdbcType=VARCHAR},
      </if>
      <if test="


profitTime != null" >
        #{


profitTime,jdbcType=VARCHAR},
      </if>
      <if test="accumulativeProfit != null" >
        #{accumulativeProfit,jdbcType=VARCHAR},
      </if>
      <if test="tmProfit != null" >
        #{tmProfit,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.entity.zjj.tbl_user_coffeemachine" >
    update tbl_user_coffeemachine
    <set >
      <if test="univerId != null" >
        univer_id = #{univerId,jdbcType=VARCHAR},
      </if>
      <if test="univerName != null" >
        univer_name = #{univerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="investmentTime != null" >
        Investment_time = #{investmentTime,jdbcType=VARCHAR},
      </if>
      <if test="


profitTime != null" >
        


profit_time = #{


profitTime,jdbcType=VARCHAR},
      </if>
      <if test="accumulativeProfit != null" >
        Accumulative_profit = #{accumulativeProfit,jdbcType=VARCHAR},
      </if>
      <if test="tmProfit != null" >
        tm_profit = #{tmProfit,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.entity.zjj.tbl_user_coffeemachine" >
    update tbl_user_coffeemachine
    set univer_id = #{univerId,jdbcType=VARCHAR},
      univer_name = #{univerName,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      Investment_time = #{investmentTime,jdbcType=VARCHAR},
      


profit_time = #{


profitTime,jdbcType=VARCHAR},
      Accumulative_profit = #{accumulativeProfit,jdbcType=VARCHAR},
      tm_profit = #{tmProfit,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
</mapper>